body{
	font-family: 'Lato', sans-serif;
	background: #f7f7f7;
	overflow: hidden;
}
.navbar {
	line-height: 100px;
	height: 100px;
	position: fixed;
}
.navbar-collapse {
	height: 100px;
	margin: 30px 0 0 0;
	position: relative;
}
.signin {
	right: 10px;
	float: right;
	position: fixed;
	height: 20px;
}
#introduction {
	clear: both;
	margin-top:20%;
	height: 100px;
}
#grid {
	clear:both;
	height: 250px;
	margin: 0;
	position:relative;
}
/*  GROUPING  */
.group:before,
.group:after {
	content:"";
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
.box {
	background:#c4c4b0;
	height: 200px; 
	margin: 0 13px 13px 0;
	width: 32%;
}
.one {
	float: left;
}
.two {
	display: inline-block;
}
.three {
	float: right;
}
/*=========================
  Login
 ================= */
.sideimg, 
.loginform, .join {
	float:left;
	margin:250px auto; padding:0px;
	height: 300px;
	width: 300px;
}

.imgtwo {
	margin-left: 30px;
	top: 300px;
	right: 210px;
	position: absolute;
	-webkit-filter: blur(3px);
	 -moz-filter: blur(3px);
	 -o-filter: blur(3px);
	 -ms-filter: blur(3px);
	 filter: blur(3px);
}
li {
	list-style-type: none;
}
#user, #pw {
	margin: 0px;
    width: 250px;
    font-size: 12px;
    font-weight: 700;
    color: #668B8B;
    margin-bottom: 20px;
}
/*.join {
	display: inline-block;
	margin:250px auto; padding:0px;

	
}*/

/*=========================
  Footer
 ================= */

#footer {
	width:33%;
	right: 33%;
	height:80px;
	position:absolute;
	bottom:0;
	text-align: center;
}

#footer.navbar {
	float: right;
}

section#footer .copyright {
	text-align: center;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}

a.scrollup{
	height:32px;
	width:32px;
	color:#fff;
	font-size:18px;
	line-height:32px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	opacity:0.5;
}
a.scrollup:hover{
	opacity:1;
	color:#fff;
}